*{margin: 0;padding: 0;}
body{background-image:url(h5.jpg); background-size: contain; transition: 10s; perspective: 600px;}
.log a{color: rgb(255, 255, 255); font-size: 30px;}
.log{display: flex; justify-content: space-between;}
#ul{display: flex; justify-content: end; width: 60%; justify-content: space-between; margin: 10px 10px;list-style: none;}
.log ul li a{text-decoration: none; text-transform: capitalize; font-size: 20px;  letter-spacing: 3px;  padding: 10px;
     border-radius: 20px ; transition:.4s;}
.log ul li a:hover{text-decoration: none; text-transform: capitalize; 
    font-size: 20px; margin: 10px 0; background-color:rgba(26, 7, 7, 0) ; letter-spacing: 6px; box-shadow:-5px 3px 14px 2px #040404;width: 100%;}
.s{width: 95%; height: 95vh; border: #04040422 2px solid;
     backdrop-filter: blur(1px); border-radius: 20px; margin: 
     1% 2%;box-shadow:-5px 3px 14px 2px #040404;}
     .ss{display: flex; color: aliceblue; justify-content: center;  justify-content: space-between; align-items: center; height: 60%; width: 100%;}
     .i{display: flex; position: relative; 
     
     
     
   
     
     }
     .i img{position: absolute; width: 240px; height: 400px;right: 3rem; transition: 2s; border-radius: 20px; }
.i3{animation: f 4s 6s linear ; animation-fill-mode: forwards;box-shadow:-5px 3px 14px 2px #040404;}
.i2{animation: f 7s 7s linear ;animation-fill-mode: forwards;box-shadow:-5px 3px 14px 2px #040404;}
.i1{animation: f 10s 10s linear ;animation-fill-mode: forwards;box-shadow:-5px 3px 14px 2px #040404;}
.i6{animation: f 14s 13s linear ; animation-fill-mode: forwards;box-shadow:-5px 3px 14px 2px #040404;}
.i5{animation: f 15s 22s linear ;animation-fill-mode: forwards;box-shadow:-5px 3px 14px 2px #040404;}
.i4{animation: f 16s 29s linear ;animation-fill-mode: forwards;box-shadow:-5px 3px 14px 2px #040404;}
.i7{animation: f 17s 37s linear ;animation-fill-mode: forwards;box-shadow:-5px 3px 14px 2px #040404;}
.i8{animation: f 19s 47s linear ;animation-fill-mode: forwards;box-shadow:-5px 3px 14px 2px #040404;}





@keyframes f{
0%{transform: scale(1) translateX(0rem) ;visibility: visible;}
100%{transform: scale(1.4) translateX(-16rem);opacity: 0;}
}
.dd a{color: white; margin: 7px; font-size: 30px; }
.dd{left: 0;bottom: 0;position: absolute; width: 100%; display: flex;justify-content: space-between;}
#in1{background-color: #6266623b; border-top-left-radius: 025px;box-shadow:-5px 3px 14px 2px #040404;transition: .5s; color: aliceblue;text-transform: capitalize; font-size: 12px;width: 15.0%;}
#in2{background-color: #62666232; border-top-right-radius: 25px;box-shadow:-5px 3px 14px 2px #040404;transition: .5s;color: aliceblue;text-transform: capitalize; font-size: 12px;width: 15.0%;}
#in3{display: block; width: 31.0%; background-color: transparent; color: aliceblue; text-align: center; font-size: 10px;box-shadow:-5px 3px 14px 2px #040404;}
#in4{display: block; width: 32.2%; background-color: transparent; color: rgb(2, 5, 8); font-size: 14px; letter-spacing: 4px; text-transform: uppercase; transition: 1s;box-shadow:-5px 3px 14px 2px #040404;}
#in4:hover{background-color: rgba(245, 222, 179, 0.268);box-shadow:-5px 3px 14px 2px #9b9b9b;}
#in2:hover{box-shadow:-5px 3px 14px 2px hsl(0, 0%, 54%);transform: scale(1.1);}
#in1:hover{box-shadow:-5px 3px 14px 2px #d6d5d5; transform: scale(1.1);}
::placeholder{color: rgba(255, 255, 255, 0.407);}
.g3{width: 39%; }
.ti{background-color: rgba(85, 83, 83, 0.267);width: 80.7%; text-align: center;
      border-radius: 20px 0px; color: rgb(22, 22, 12); height: 50px; font-size: 40px;box-shadow:-5px 3px 14px 2px #040404;
     }
.x{background-color: rgba(85, 83, 83, 0.268); width: 130px;height: 130px; float: left; margin: 5px;box-shadow:-5px 3px 14px 2px #040404; font-size: 70px;
     text-align: center; font-weight: bold; color: #040404; font-weight: bold; padding: 3px;
     
}
h1{transition: 10s;}
.g1{width: 100%; height: 400px; float: left; transform: translate(25rem,10rem);}
span{ color: gold;}
.x:hover{  background: linear-gradient(120deg,rgba(0, 0, 0, 0.397),rgba(255, 255, 255, 0%));}

.box {
     width: 200px;
     transform-style: preserve-3d;
     position: relative;
     background-color: rgb(4, 4, 4);
     transition: 2s;
     margin: 24px;
 }
 .f, .b {
     position: fixed;
     backface-visibility: hidden;
 }

 .f img {
     width: 240px;
     height: 400px;
     box-shadow: rgb(88 1 0 / 45%) 5px 5px 7px 3px;
     border-radius: 14px; 
 }

.b{height: 400px; display: flex; width: 230px;
     justify-content: space-between; flex-direction: column; border-radius: 10px; box-shadow: rgba(3, 2, 2, 0.45) 5px 5px 7px 3px;;
     transform: rotateY(180deg);  background-color: #0404044c;}
.b h2{ text-transform: capitalize; letter-spacing: 3px;}


.b button{background-color: transparent;box-shadow: 2px 4px 13px 5px #161416a6; font-size: 20px; color: wheat;}



 .boxs{

 justify-content: space-between;
 perspective: 300px;

 transform: skew(5deg);
 margin: 10px;
 display: none;
 transition: 2s;
}


.boxs h1{text-align: center;}

.box:hover{transform: rotateY(-180deg);}
#fileInput{background-color: #000000f3; border-radius: 20px; color: #ffffff;width: 160px; }
#fileInput1{background-color: hsla(0, 8%, 97%, 0.982); border-radius: 20px; color: #333232;width: 160px; }
#fileInput2{background-color: #e9e7e7f3; border-radius: 20px; color: #747373;width: 160px; }
#fileInput3{background-color: hsla(0, 1%, 77%, 0.953); border-radius: 20px; color: #aeadad;width: 160px; }
#fileInput4{background-color: #aba9a9f3; border-radius: 20px; color: #d6d5d5;width: 160px; }
#fileInput5{background-color: #7f7f7ff3; border-radius: 20px; color: #d6d5d5;width: 160px; }
#fileInput6{background-color: #585858f3; border-radius: 20px; color: #d6d5d5;width: 160px; }
#fileInput7{background-color: #515151f3; border-radius: 20px; color: #d6d5d5;width: 160px; }
#fileInput8{background-color: #393939f3; border-radius: 20px; color: #d6d5d5;width: 160px; }






.group{display: none; grid-template-columns:repeat(1,auto); gap: 4px;}
#f{display: none; flex-direction: column; justify-content: space-between; height: 100%; width: 100%;}
#f a{text-align: center; font-size: 30px; color: #fff3f3;}
#f input{background-color: transparent; border: none; border-bottom: 4px rgb(0, 0, 0) solid; box-shadow: -5px 6px 6px 0px #00000040; color: white; letter-spacing: 4px;}
#f button{background-color: transparent;  box-shadow: -5px 6px 6px 0px #00000040; color: white;}










